# Folders
__pycache__
.vscode/launch.json
Metrics/.vscode/launch.json

Datasets/cIBS/images/*.jpg
Datasets/cIBS/templates/*.jpg
Datasets/IVSN/stimuli/*.jpg
Datasets/IVSN/target/*.jpg
Datasets/IVSN/templates_resized/*.jpg
