# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py~
*$py.class

# DCBs
dataset_root/cIBS/
dataset_root/IVSN/
dataset_root/MCS/
dataset_root/COCOSearch18/DCBs_modelo_resize/
dataset_root/COCOSearch18/DCBs_old/
